* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: monospace; font-size: 3vmin; font-weight: bold; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100vh; overflow: hidden; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

body::-webkit-scrollbar { display: none; }

body .square { outline: 0.4em solid blue; max-height: 100%; }

body .square ul { list-style: none; display: -ms-grid; display: grid; }

body .square ul > li { aspect-ratio: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 2em; cursor: pointer; outline: 0.2em solid blue; }

body .square ul > li.focus { background-color: red; color: white; }
